blockquote {
    font-size: large;
    font-weight: bold;
    color: coral;
}

main p {
    font-weight: bolder;
    color: darkred;
}

img {
width: 4in;
height: 3in;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}