a {
    color: green;
}

a:hover {
    color: white;
}

body {
    background-color: black;
    font-family:monospace;
}

footer h2 {
    font-size: medium;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:burlywood;
    border-radius: 50px
}

header {
    background-color:cornsilk;
    color: chocolate;
    text-align: center;
    border-radius: 50px;
}

main {
    background-color:blanchedalmond;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul {
    list-style: none;
}

main p {
    font-weight: bolder;
    color: darkred;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}